@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,500,700);
body{ font-family: 'Roboto', sans-serif;  }


.header{ width: 100%; background: #2ecc71; color: #ecf0f1; min-height: 50px;}
.header a{ color: #ecf0f1; font-family: 'Roboto', sans-serif; font-weight: lighter;}
.header a:hover{text-decoration: none; color: #fff; transition: color 0.35s ease;}


