@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,500,700);
body{ font-family: 'Roboto', sans-serif;  }


h1,h2,h3,h4,h5,h6 { font-family: 'Roboto', sans-serif;  color: #fff; font-weight: lighter;}
.header{ width: 100%; background: rgba(100,100,100,0.3); color: #ecf0f1; min-height: 50px; margin-bottom: 20px; box-shadow: 0px -3px 15px 0px #fff;}
.header a{ color: #ecf0f1; font-family: 'Roboto', sans-serif; font-weight: lighter;}
.header a:hover{text-decoration: none; color: #f74f95; transition: color 0.35s ease;}

.grid{ padding: 5px; font-weight: lighter;}


.panel{ font-family: 'Roboto', sans-serif; font-weight: lighter; background: rgba(0,0,0,0); color: #fff; }
.panel .panel-default { border-color: #ecf0f1; color: #fff; }
.panel .panel-title { color: #fff; font-weight: lighter;}
.panel .panel-heading { background-color: rgba(100,100,100,0.5);}
.panel .panel-body { background-color: rgba(0,0,0,0.4);}


.input{ width: 45%; margin: 2%; background: rgba(0,0,0,0.5); padding: 5px; border: 1px solid #fff; border-radius: 5px; color: #fff;}
.input:focus{ border: 1px solid #f74f95; outline: 0px;}
.button{ background: rgba(0,0,0,0.3); border: 1px solid #fff; min-width: 100px; font-size: 25px; border-radius: 5px; color: #fff; margin: 15px;}
.button:hover{ background: rgba(0,0,0,0.7); border: 1px solid #f74f95; color: #f74f95; transition: color 0.35s ease;}

.border-1px{ border: 1px solid;}
.text-center { text-align: center;}