.bg-dark-green { background: #27ae60; }
.bg-light-green { background: #2ecc71; }

.bg-dark-blue { background: #43B1FA; }
.bg-light-blue { background: #3498db; }


.bg-dark-red { background: #c0392b; }
.bg-light-red { background: #e74c3c; }


.bg-dark-orange { background: #e67e22; }
.bg-light-orange { background: #d35400; }

.bg-dark-yellow { background: #f39c12; }
.bg-light-yellow { background: #f1c40f; }